.pagina-inicio{
    height: min-content;
    background-color: #0D0D0D;
}

.fundo-ladding{
    height: 100vh;
    width: 100%;
    position: absolute;
    
}

.title-pokerpg{
    position: absolute;
    background-color: #DC383E;
    right: 0;
    top: 30px;
    width: 90%;
    box-shadow: inset 0px -2px 40px 20px rgba(0, 0, 0, 0.384);
}

.title-pokerpg img{
height: 200px;
padding: 20px;
width: 90%;

}


.flex-just{
    padding-top: 15rem;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.flex-just img{
    position: absolute;
    width: 70%;
    bottom: 0;
    filter: drop-shadow(-8px 30px 0px rgb(0, 0, 0));
}

.flex-just button{
width: 40%;
height: 70px;
border: 10px;
border-radius: 20px;
box-shadow: inset 0px -2px 10px 10px rgba(0, 0, 0, 0.384);
font-weight: 900;
font-size: 2rem;
position: absolute;
right: 80px;
bottom: 100px;
background-color: #DC383E;
cursor: pointer;
transition: all ease .4s;
}

.btn-jogar:hover{
    box-shadow: inset 0px 0px 30px 20px rgba(0, 0, 0, 0.39);
    transform: scale(0.98);
}


.title-projeto{
    background-color: #DC383E;
    transform: translateY(70rem);
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-radius: 60px;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 5rem;
}


.conteudo-p{
    margin-top: 130vh;
}





@media (max-width: 1000px) {
    .title-projeto{
        background-color: #DC383E;
        transform: translateY(70rem);
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        border-radius: 60px;
        text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
        margin-bottom: 5rem;
    }


}