.imagem-post{
    max-width: 50%;
    max-height: 500px;
    aspect-ratio: 3/3;
}

.title-post{
    text-align: center;
    width: 100%;
    color: #DC383E;
    font-size: 3.5rem;
    margin-top: -1rem;
}

.texto-post{
    color: rgb(238, 238, 238);
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: 2rem;
    line-height: 190%;
    flex: 1;
   
}

@media (max-width: 1000px) {
   .container-post{
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
   }

}