.imagem-post{
    width: 50%;
    min-width: 450px;
}

.title-post{
    text-align: center;
    width: 100%;
    color: #DC383E;
    font-size: 3.5rem;
    margin-top: -1rem;
}

.texto-post{
    color: rgb(238, 238, 238);
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: 2rem;
    line-height: 190%;
}