.alinhar-flex{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 500px;
    margin: 0 auto;
    margin-top: 1rem;
}

.info-poke{
    background: rgba(30, 255, 0, 0.192);
    box-shadow: 0 0px 32px 15px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 330px;
    height: 115px;
    border-radius: 15px;
}

.name{
    text-transform: uppercase;
}

.flex1{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding-top: 5px;
}

.flex1 h1{
font-size: 1.2rem;
font-weight: 900;
color: #0f0f0f;
}

.img-poke{
    max-height: 140px;
    min-height: 110px;
    max-width: 200px;
    transform: translateX(-7.5rem);
    margin-top: 12rem;
}

.container-vida{
    transform: translateY(.5rem);
    margin: 0 auto;
    border-radius: 12px;
    width: 95%;
    border: solid #0f0f0f;
    font-size: 1.2rem;
    font-weight: 900;
    color: #0f0f0f;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: -3px 5px 0px 0px rgba(0, 0, 0, 0.966);
}

.container-vida h1{
position: absolute;
z-index: 9;
font-size: 1.3rem;
font-weight: 900;
right: 5px;
}

.tipo{
    height: 25px;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #0f0f0f;
    border-radius: 10px;
    box-shadow: -3px 5px 0px 0px rgba(0, 0, 0, 0.966);
    margin-left: .5rem;
}

/*  tipos */

.fire{
    background-color: #ffb006d0;
}

.normal{
    background-color: rgb(127, 127, 127);
}

.psychic{
    background-color: rgb(190, 129, 210);
}

.bug{
    background-color: #92B34B;
}

.dragon{
    background-color: #1D69B2;
}

.electric{
    background-color: #E8D340;
}

.fairy{
    background-color: #C695CC;
}

.fighting{
    background-color: #9C3F61;
}

.flying{
    background-color: #96A7DD;
}

.ghost{
    background-color: #5A658F;
}

.grass{
    background-color: #67B567;
}

.water{
    background-color: #027AA9;
}

.steel{
    background-color: #4e4e4e;
}

.dark{
    background-color: #630bd4c0;
}

.ice{
    background-color: #67b5af;
}

.ground{
    background-color: #7a7540;
}

.rock{
    background-color: #4b4a39;
}

.poison{
    background-color: #6420be;
}

