@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    background-color: #0f0f0f;
    min-height: 100vh;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map{
    border: solid 10px gray;
    width: 910px;
    height: 910px;
    background-image: url('../../../../public/assets/map.png');
    background-position: left top;
    background-size: 100%;
    position: relative;
    animation: aparecer ease .5s;
}

.comente{
    background-color: rgb(29, 29, 29);
    position: absolute;
    border: solid 5px rgb(226, 226, 226);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.452);
    padding: .5rem;
    font-weight: 600;
    font-size: 16px;
    animation: aparecer ease .3s;
}

.red{
    color: red;
}

.noticias{
    width: 210px;
    margin-left: 180px;
    margin-top: 20px;
}

.tarefas{
    width: 210px;
    margin-left: 520px;
    margin-top: 240px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.vovo{
    width: 210px;
    margin-left: 480px;
    margin-top: 440px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tenda{
    width: 210px;
    margin-left: 40px;
    margin-top: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.criança{
    width: 210px;
    margin-left: 190px;
    margin-top: 400px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.estatua{
    width: 290px;
    margin-left: 180px;
    margin-top: 360px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.estatua .espaco{
    margin-left: 110px;
    margin-top: -8px;
}

.elfa{
    width: 210px;
    margin-left: 430px;
    margin-top: 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sair{
    margin-top: 720px;
    font-size: 2rem;
}

.sair .espaco{
    margin-left: 220px;
    margin-top: 60px;
}


.comente div{
    margin: 0 auto;
    background-color: rgb(156, 156, 156);
    width: min-content;
    padding: 0px 12px;
    box-shadow: 3px 3px 2px 0px rgb(88, 88, 88);
    position: absolute;
    top: 41px;
    left: 70px;
    color: rgb(19, 19, 19);
    font-weight: 700;
}

.tarefas h2{
    color: rgb(209, 19, 19);
}


.personFonte{
    margin-top: 280px;
}

.azul{
    color: aqua;
}


.mostrar-mobille{
    display: none;
}




@keyframes aparecer {
    0%, 100%{
        transform: scale(1);
    }

    50%{
        transform: scale(0.8);
    }
}




@media (max-width: 1000px) {
    .map{
        display: none;
    }

    .mostrar-mobille{
        display: flex;
        width: 100%;
        text-align: center;
    }


}